# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio 2010 ignore
Debug
MFCServerProgramSample/Debug/
ipch
#*.suo
#*.sdf
#*.user

